.logo {
    width: 50px;
    height: 50px;
}
.carousel-inner .row {
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    display: block;
    float: none;
    transition: transform 0.5s ease-in-out;
}
.header {
    background-image: linear-gradient(lime, green);
}

.latar {
    background-image: url(img/latar.jpg);
    background-size: cover;
    background-position: center;
}

footer div ul li:first-child {
    color: yellow;
}

.indo {
    background-image: url('../img/indoo.png');
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: 150%;
}

.aktif {
    color: green;
    font: bold;
    border-bottom: 2px solid green;
}


.connn p {
    text-align: justify;
    text-indent: 40px;
}


body {
    background-color: #e8f5e9;
    color: #2e7d32;
}
.navbar {
background-color: #388e3c;
}
.navbar-brand, .nav-link {
color: #ffffff !important;
}
.jumbotron {
background-color: #66bb6a;
color: #ffffff;
}
.footer {
background-color: #388e3c;
color: #ffffff;
padding: 10px 0;
}